includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon

parameters:

    level: 5

    paths:
        - ./app
        - ./bootstrap
        - ./config
        - ./database
        - ./routes
        - ./src
        - ./tests

    scanFiles:
        - ./_ide_helper_models.php

    excludePaths:
        analyse:
            - ./storage/*
            - ./bootstrap/cache/*
            - ./config/clockwork.php

    #tmpDir: var/cache/phpstan

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    checkMissingCallableSignature: true

